body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #182F40;
}


.eba-hero {
    background-color: #0F305E;
    color: white;
    text-align: center;
}

.category-name {
    background-color: #334875;
    padding: 2rem 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem;
    page-break-before: always;
}

.product-name {
    background-color: #596992;
    color: white;
    padding: 0.5rem 1rem;
    max-width: 75%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.product-container {
    page-break-inside: avoid;
}

.product-body {
    padding: 0 1rem;
}

.product-body p.product-short-desc {
    font-family: 'Raleway', sans-serif;
    color: #334875;
    font-style: italic;
    letter-spacing: 0.02rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.product-body .section-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #596992;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;

}