body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #182F40;
}
html {
    font-size: 22px;
    -webkit-print-color-adjust: exact;
}

@media print {
    thead {
        display: table-header-group;
    }
}

.image {
    max-width: 500px;
    margin: auto;
}

.cover {
    text-align: center;
}

.cover .cover-logo,
.cover .cover-products {
    max-width: 30rem;
    margin-top: 1rem;
}

.cover h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    padding: 3rem;
    text-transform: uppercase;
    font-weight: 300;
}

.eba-hero {
    background: #182848;
    color: white;
    text-align: center;
}

.eba-foundations .columns{
    text-align: center;
    padding: 0 1rem;
}

table {
    page-break-before: always;
    width: 100%;
}

table tbody tr,
tr * {
    page-break-inside: avoid!important;
}

table.table th,
table.table td {
    padding: 0;
    border: 0;
}

table thead {
    display: table-header-group;
}

.toc-goto {
    position: relative;
    width: 10px;
    left: 10px;
}
table.toc-table .toc-section {
    padding: .4rem 1rem;
    text-align: center;
}

table.toc-table .toc-section a {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(24, 40, 72, 0.8);
    font-size: 1.5rem;
}

table.toc-table .toc-content {
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 33%);
    letter-spacing: 0.02rem;
    font-weight: 400;
    font-size: .8rem;
    padding-left: 1rem;
    line-height: 1rem;
}

.toc-container {
    padding: 0 6rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.toc-container .columns.is-mobile {
    margin-bottom: .75rem;
}

.toc-container .column.is-11,
.toc-container .column.is-1 {
    padding: .2rem 1rem;
}

.toc-container .toc-title,
.toc-container .column.is-1 {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(24, 40, 72, 0.8);
    font-size: 1.3rem;
}

.toc-container .toc-content {
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 33%);
    letter-spacing: 0.02rem;
    font-weight: 400;
    font-size: .75rem;
    padding-left: 1rem;
    line-height: 1rem;
}

h2 {
    background: rgb(24,40,72);
    background: linear-gradient(25deg, rgba(24,40,72,1) 0%, rgba(24,40,72,0.8) 100%);
    padding: 3rem 1rem 1rem 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
}

h3 {
    background-color: #435074;
    color: white;
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.us-container,
.product-container,
.contact-container {
    margin-bottom: 0.5rem;
}

.us-container,
.foundations-container {
    padding: 1rem;
    text-align: center;

}
.contact-body,
.product-container {
    background-color: #f5f5f5;
}

.us-body,
.product-body,
.contact-body {
    padding: 0 1rem;
    margin-top: 0px;
}

.product-body p.product-short-desc {
    font-family: 'Raleway', sans-serif;
    color: #334875;
    font-style: italic;
    letter-spacing: 0.02rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.section-container {
    padding-bottom: 0.5rem;
}

.section-name {
    font-weight: 600;
    color: #596992;
    font-size: 1.2rem;
    max-height: 2rem;
}

.tag {
    margin: 0 0.2rem;
    display: inline-block;
    height: 1.3em;
}

.tag.is-ph {
    background-color: white;
}

.tag.is-active {
    background-color: #004c8c;
    color: white;
}